<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ryujinx" value="https://legacy.git.ryujinx.app/api/v4/projects/17/packages/nuget/index.json" />
    <add key="ryujinx2" value="https://legacy.git.ryujinx.app/api/v4/projects/71/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ryujinx">
      <package pattern="Ryujinx.*"/>
    </packageSource>
    <packageSource key="ryujinx2">
      <package pattern="Ryujinx.*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>
