<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="libhac" value="https://legacy.git.ryujinx.app/api/v4/projects/17/packages/nuget/index.json" />
    <add key="ryujinx-deps" value="https://legacy.git.ryujinx.app/api/v4/projects/71/packages/nuget/index.json" />
  </packageSources>
</configuration>
